@import '../../scss/util/colors';

.region-map {
  width: 100%;
  height: 504px;
  background-color: $gunmetal;
}

.popup {
  width: 250px;

  &__name {
    font-weight: bold;
    font-size: 24px;
    color: $gunmetal;
    padding: 18px 12px 12px 12px;
  }

  &__row {
    display: inline-flex;
    width: 100%;
    margin-bottom: 10px;
  }

  &__item {
    width: 55px;
    height: 50px;

    &--first {
      width: 60px;
    }
  }

  &__icon {
    width: 100%;
    height: 24px;
    font-size: 23px;
    text-align: center;

    &--red {
      color: $pale-red;
    }
  }

  &__divider {
    border-right: 2px solid $light-grey;
    height: 27px;
    margin: 0 5px;
  }

  &__value {
    width: 100%;
    text-align: center;
    margin-top: 6px;
  }

  &__interaction-area {
    width: 100%;
    border-top: 1px solid $light-grey;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {

    color: $jade;

    &:active {
      color: $blue-green;
    }

    &:hover {
      color: $seafoam-blue;
    }
  }

}

// Geoanalytics style override
.tibco-popup {
  box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.5);
  padding: 0 !important;
  border-radius: 5px;

  &-content {
    padding: 0 !important;
  }
}