@import '../../scss/util/variables';
@import '../../scss/util/colors';

.filter {
  display: none;
  width: 100vw;
  background-color: $background-alt;
  position: absolute;
  z-index: 3;
  margin: 0;
  animation: slideDown 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

  &__heading {
    font-size: 28px;
    font-weight: bold;
  }

  &__title {
    margin-bottom: 0;
  }

  &__container {
    width: 900px;
  }

  &__active {
    display: flex;
    justify-content: center;
  }

  &__select {
    margin-bottom: 30px;
  }

  &__option {
    width: 100%;
    height: 80px;
    border-radius: 5px;
    box-shadow: 0 2px 15px -7px rgba(0, 0, 0, 0.5);
    background-color: $white;
    color: $text-primary;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;

    &--selected {
      color: white;
      background-color: $mobile-sub-nav;
    }

    &-divider {
      &::after {
        height: 100%;
        width: 4px;
        background-color: $cool-grey-two;
        content: '';
        position: relative;
        right: -24px;
      }
    }
  }

  &__save {
    margin: 60px 0 30px 0;
    .btn--primary {
      width: 100%;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 40px;
      color: $jade;
    }
  }

  @media screen and (min-width: $tablet-break) {
    margin-left: 70px;
    width: calc(100% - 70px);
  }
}

.dark-background {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: rgba($background-grey, 0.7);
  animation: fadeIn 300ms linear;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}
