@import '../../scss/util/colors';
@import '../../scss/util/variables';

.report-view {
  width: 100%;

  // Header styles
  &__header-wrap {
    position: relative;
  }
  &__header {
    display: grid;
    width: 100%;
    margin: 0 auto 24px auto;
    p {
      margin: 0;
      opacity: 0.6;
      text-transform: uppercase;
    }
    h3 {
      margin-bottom: 12px;
    }
  }
  &__header__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  &__header__select {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 12px;
    h5 {
      font-size: 16px;
      font-weight: normal;
      line-height: 24px;
      color: $jade;
      margin: 0;
      margin-right: 7px;
    }
    i {
      opacity: 0.6;
      font-size: 20px;
    }
  }
  &__header__select-arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9c9c9c;
    i {
      font-size: 8px;
      font-weight: bold;
      margin: 2px 0;
    }
  }
  &__header__dropdown {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    z-index: 6;
  }
  &__header__links {
    position: relative;
    margin-top: 12px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    color: $text-nav;
    p {
      opacity: 1;
      text-transform: none;
    }
    img,
    a {
      cursor: pointer;
    }
  }
  &__header__buttons {
    display: flex;
    position: relative;
  }
  &__actions-dropdown {
    position: absolute;
    top: calc(100% + 12px);
    right: 0;
    width: 195px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 15px -7px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    div {
      height: 32px;
      line-height: 32px;
      padding: 0 12px;
      background-color: $white;
      color: $gunmetal;
    }
    div:hover {
      background-color: $jade;
      color: $white;
    }
  }

  // Button styles

  &__btn-wrapper {
    width: 299px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 24px auto;
    a {
      line-height: 40px;
      color: $btn-green;
    }
  }
  &__btn--create {
    width: 125px;
  }
  &__btn--actions {
    box-sizing: border-box;
    width: 116px;
    margin: 0 12px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    p {
      line-height: 40px;
    }
  }
  &__no-mobile {
    display: none;
  }

  // Table styles

  &__table {
    height: 750px;
    background: rgba(grey, 0.7);
  }

  // Filter Styles

  &__show-filter {
    display: inline;
  }
  &__hide-filter {
    display: none;
  }
}

@media screen and (min-width: $tablet-break) {
  .report-view {
    box-sizing: border-box;
    justify-items: center;
    width: 100%;
    padding-left: 70px;
  }
}
