@import '../../scss/util/variables';
@import '../../scss/util/colors';

.main {
  min-height: 2000px;
  display: flex;
  justify-content: center;

  &__content {
    width: 100%;
    margin-left: 0;
  }

  @media screen and (min-width: $tablet-break) {
    margin-left: 70px;

    &__content {
      width: 900px;
    }
  }
}
