// Text
$text-primary: #4A5357;
$text-hover: #81878A;
$text-secondary: #A5A9AB;
$text-disabled: #C9CCCD;

// Background
$background-main: #FFFFFF;
$background-alt: #F7F9FA;

// Navigation
$mobile-sub-nav: #1C9D6C;
$main-nav: #4A5357;

//Icons
$icon-primary-active: #4A5357;
$icon-disabled: #C9CCCD;
$icon-nav-active: #69CAA4;
$icon-nav-inactive: #A5A9AB;
$icon-background: #FFFFFF;