// Text
$text-primary: #4a5357;
$text-hover: #81878a;
$text-secondary: #a5a9ab;
$text-disabled: #c9cccd;

// Background
$background-main: #ffffff;
$background-alt: #f7f9fa;

// Navigation
$mobile-sub-nav: #1c9d6c;
$main-nav: #4a5357;

//Icons
$icon-primary-active: #4a5357;
$icon-disabled: #c9cccd;
$icon-nav-active: #69caa4;
$icon-nav-inactive: #a5a9ab;
$icon-background: #ffffff;

$white: #ffffff;
