@import '../../scss/util/colors';
@import '../../scss/util/variables';
@import '../../scss/base/buttons';

.login {
  padding: 0;
  background-image: linear-gradient(#57eac2b3, #0b8885b3),
    url('../../assets/login-background.jpg');
  background-position: center;
  background-size: cover;
  &__wrapper {
    background: $background-alt;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__logo {
    height: 77px;
    width: 182px;
    margin-top: 3em;
    position: absolute;
    top: 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__welcome {
    h2 {
      margin: 0;
    }
    margin-bottom: 20px;
  }
  &__button {
    width: 294px;
    margin: auto;
  }
  &__purpose {
    width: 294px;
    margin-top: 50px;
    color: $bluish-grey-two;
    text-align: center;
    font-style: italic;
  }
}

.user-options {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  border: solid 1px $btn-green;
  margin: 40px auto;
  color: $btn-green;
  line-height: 40px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    border: solid 1px $btn-teal;
  }
  &__role {
    padding: 0 15px;
    background: white;
    border-right: solid 1px $btn-green;
    min-width: 55px;
    text-align: center;
  }
  &__role:hover {
    background-color: $btn-teal;
    color: white;
  }
  &__role--last {
    border-right: none;
  }
  &__role--active {
    background: $btn-green;
    color: white;
  }
}

@media screen and (min-width: $tablet-break) {
  .login__wrapper {
    width: 475px;
  }
}
