@import '../util/variables';

.grid {
  padding: 0 10px;
  box-sizing: border-box;

  .grid {
    margin: 0;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  // Mobile
  @for $i from 1 through 4 {
    &__column-m-#{$i} {
      grid-column: span #{$i};
    }
  }

  // Tablet & Desktop
  @media screen and (min-width: $tablet-break) {
    padding: 24px 0;

    &__row {
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 24px;
      grid-row-gap: 24px;

      &--full-width {
        padding: 24px 0px;
      }
    }

    @for $i from 1 through 12 {
      &__column-#{$i} {
        grid-column: span #{$i};
      }
    }
  }
}
