@import '../util/layout';
@import '../util/breakpoints';

.grid {
  @include content-grid(4, 12px);
  margin: 0 6px;
}

// Reduce span for mobile
$span: 1;
@for $i from 1 through 12 {
  .col-width-#{$i} {
    grid-column-end: span $span;
  }
  @if $i % 3 == 0 {
    $span: $span + 1;
  }
}

@include media_query('tablet', 'min') {
  .grid {
    @include content-grid(12, 24px);
    margin: 0;
  }
  @for $i from 1 through 12 {
    .col-width-#{$i} {
      grid-column-end: span #{$i};
    }
  }
}

@include media_query('desktop', 'min') {
  .grid {
    @include content-grid(12, 24px);
    margin: 0;
  }
  @for $i from 1 through 12 {
    .col-width-#{$i} {
      grid-column-end: span #{$i};
    }
  }
}
